doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Patrycja Pieczara

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
        link(href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap", rel="stylesheet")

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#biography') Bio
                        li.nav-item
                            a.nav-link(href='#portfolio') Gallery
                        li.nav-item
                            a.nav-link(href='#performances') Performances
                        li.nav-item
                            a.nav-link(href='#contact') Contact

        // Masthead
        header.masthead
                br
                br
                br
                .masthead-heading.text-uppercase PATRYCJA PIECZARA
                .masthead-subheading.text-uppercase CONDUCTOR
                .container
                        hr
                        .col-md-offset-3
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.facebook.com/ppieczara')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/patrycja_pieczara')
                                i.fab.fa-instagram
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.youtube.com/user/ppieczara')
                                i.fab.fa-youtube

        // Biography
        section#biography.page-section.bg-dark
            .container
                .text-center
                    h2.section-heading.text-uppercase Biography
                .row.text-center
                    .col-md-offset-3
                        p.text-muted
                            | Born in Kraków, conductor Patrycja Pieczara made her debut with the Polish National Radio Symphony and Kraków Philharmonic orchestras in 2011 and is increasingly appearing as a guest conductor throughout the region.
                            | She has debuted with such an outstanding orchestras as Royal Scottish National  Orchestra in Glasgow, Royal Liverpool Philharmonic, Tokyo Symphony Orchestra.
                            br
                            br
                            | During the 2017/2018 season she was regularly returning to UK to conduct Orchestra of  the Swan (UK).
                            br
                            br
                            | During the 2016/17 season she had her Mexican debut with Oaxaca  Symphony Orchestra. She also opened 114th season of the Lviv Philharmonic Orchestra.
                            br
                            br
                            | She was performing with such outstanding artists as Alina Ibrahgimova, Roderick  Williams, David Le Page, Madeleine Shaw, Marta Klimasara, Pierre Genisson and others.
                            br
                            br
                            | In 2014 she was appointed Associate Conductor at the Grand Theatre in Poznań, where she conducted Carmen in June. She leads the opening nights of Stravinsky’s Le Rossignol and Ravel’s L'enfant et les sortilèges there this season.
                            | Other 2014/15 highlights include her debuts with the Tokyo Symphony, Bilkent Symphony (Turkey) and Szczecin Philharmonic orchestras. She also led the Beethoven Academy Orchestra, founded by Elżbieta and Krzysztof Penderecki, in a special concert premiering several orchestral works by late-romantic Polish-German composer Xaver Scharwenka.
                            br
                            br
                            | In the 2012/13 and 2013/14 seasons Pieczara returned several times to the Kraków Philharmonic Orchestra; she also debuted with Orchestre Atelier-Ostinato (Paris) and conducted the Philharmonic orchestras of Białystock, Rzeszów and Częstochowa.
                            | In 2011/12 she toured Germany with the Kraków Youth Philharmonic Orchestra and appeared with the Istanbul State Symphony, National Podlaska Philharmonic and Slovak State Philharmonic orchestras. She recently conducted the National Estonian Youth and Spirit of Europe orchestras, and continues to work closely with young Polish composers in the context of her own contemporary music ensembles, Odyssey and the Glyptos Ensemble.
                            br
                            br
                            | Pieczara began her musical studies at the piano and holds Master’s degrees in Music Theory and Conducting from the Kraków Music Academy, where she studied with Josef Radwan and Tadeusz Strugala. In 2016 she received PhD degree at the Music Academy in Krakow.
                            br
                            br
                            | As a part of her dissertation she made Polish premiere of Xaver Scharwenka Symphony in C-minor after 130 years of on Xaver Scharwenka.
                            br
                            | In 2010 she was appointed Assistant to the Music Director at the Kraków Opera House. Since 2010 she is appointed an Assistant Professor of the Music Academy in Krakow ,  taking over the Academy Symphony Orchestra.
                            | She has worked with Neeme and Paavo Järvi at the Järvi Summer Festival (Estonia), Helmut Rilling at the International Bach Academy Stuttgart, and Mark Stringer at the Internationale Sommerakademie Wien.
                            br
                            br
                            | In December 2009 she was chosen to work with Colin Metters, Peter Stark and Sean Farrell as part of London’s International Conducting Masterclass, and in 2010 she was appointed Assistant to the Music Director at the Kraków Opera House.
                            br
                            | In April 2020, she was again invited by the Royal  Opera House and the National Opera Studio to attend an over 10-week opera webinar.

        // Gallery
        section#portfolio.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Gallery
                .row
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 1
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal1')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/photos/001 Patrycja Pieczara 26-10-2018.jpg', alt='...')
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 2
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal2')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/photos/002 Patrycja Pieczara 26-10-2018.jpg', alt='...')
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 3
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal3')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/photos/007 Patrycja Pieczara 26-10-2018.jpg', alt='...')
                    .col-lg-4.col-sm-6.mb-4.mb-lg-0
                        // Portfolio item 4
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal4')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/photos/004 Patrycja Pieczara 26-10-2018.jpg', alt='...')
                    .col-lg-4.col-sm-6.mb-4.mb-sm-0
                        // Portfolio item 5
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal5')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/photos/019 Patrycja Pieczara 26-10-2018.jpg', alt='...')
                    .col-lg-4.col-sm-6
                        // Portfolio item 6
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal6')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/photos/2016.09.08_012.jpg', alt='...')
            br
            br
            br
            .container
                .text-center
                    h2.section-heading.text-uppercase Videos
                br
                .row
                    .col
                            iframe(type='text/html' width='635' height='390'
                            src='https://www.youtube.com/embed/KrsLMYl6EUU'
                             frameborder='1')
                    .col
                            iframe(type='text/html' width='635' height='390'
                            src='https://www.youtube.com/embed/OQbPOxWYUwI'
                             frameborder='0')

        // Performances
        section#performances.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Performances
                br
                br
                ul.timeline
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 14 February 2018
                                h4.subheading Town Hall Birmingham, UK
                            .timeline-body
                                p.text-muted
                                    | Vaughan Williams Five Variants of Dives and Lazarus
                                    br
                                    | Vaughan Williams Five Mystical Songs
                                    br
                                    | Finzi Let us Garlands Bring
                                    br
                                    | Finzi Romance for String Orchestra, Op.11
                                    br
                                    | Ireland A Downland Suite
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 13 February 2018
                                h4.subheading Stratford ArtsHouse, Stratford, UK
                            .timeline-body
                                p.text-muted
                                    | Orchestra of the Swan (UK)
                                    br
                                    |  Roderick Williams - baritone
                                    br
                                    |  Vaughan Williams Five Variants of Dives and Lazarus
                                    br
                                    |  Vaughan Williams Five Mystical Songs
                                    br
                                    |  Finzi Let us Garlands Bring
                                    br
                                    |  Finzi Romance for String Orchestra, Op.11
                                    br
                                    |  Ireland A Downland Suite
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 31 January 2018
                                h4.subheading New Auditorium, Glasgow Royal Concert Hall, Glasgow
                            .timeline-body
                                p.text-muted
                                    |Barber Second Essay for Orchestra
                                    br
                                    |Searle Sauchiehall
                                    br
                                    |Mendelssohn Symphony No4 Italian
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 26 September 2017
                                h4.subheading Stratford-upon-Avon, Orchestra of the Swan, UK
                            .timeline-body
                                p.text-muted
                                    | Diane Clark – flute
                                    br
                                    | Victoria Brawn – oboe
                                    br
                                    | Sally Harrop – clarinet
                                    br
                                    | Philip Brookes – bassoon
                                    br
                                    | Francesca Moore-Bridger – horn
                                    br
                                    | Malcolm Arnold Concerto no1 for Flute and Strings Mozart Sinfonia Concertante for Four Winds Mendelssohn Symphony no.3 ‘Scottish’
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 26 April 2017
                                h4.subheading The Academy of Music „Florianka” Hall, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    |RENATA GUZIK – flute
                                    br
                                    |BARBARA BOROWICZ – clarinet
                                    br
                                    |KINGA LUPA – French horn
                                    br
                                    |MATEUSZ RUSOWICZ – trumpet
                                    br
                                    |BARTOSZ SAŁDAN – percussion
                                    br
                                    |WERONIKA KRÓWKA – piano
                                    br
                                    |PAWEŁ KUBICA – piano
                                    br
                                    |MATEUSZ KURCAB – piano
                                    br
                                    |MAGDA NIEDBAŁA-SOLARZ – mezzo soprano
                                    br
                                    |AGNIESZKA BUGLA – violin
                                    br
                                    |NATALIA WARZECHA-KARKUS – viola
                                    br
                                    |POLA BENKE – cello
                                    br
                                    |BARBARA ŁYPIK-SOBANIEC – cello
                                    br
                                    |PATRYCJA PIECZARA – conductor
                                    br
                                    br
                                    |KRAKOW COMPOSERS’ SCHOOL (1)
                                    |Michał Gronowicz Subtilia II for flute, clarinet, French horn, trumpet, violin, viola,cello and piano (2016) *
                                    |Grzegorz Majka Noc duszy for flute, French horn and string trio (2016) *
                                    |Marcel Chyrzyński Reflection No. 4 for flute, clarinet, violoncello, percussion and piano (2016) **
                                    |Michał Jakub Papara Poemat z księgi snów i wyobrażeń for clarinet, violin, cello and piano (2010)
                                    |Józef Rychlik Octet for flute, clarinet, French horn, trumpet, violin, viola,cello and piano (2017 – commissioned by 29th IFKC) ***
                                    |*** World premiere. Financial support provided by the Ministry of Culture and National Heritage as a part of “Collections” programme – “Composing Commissions”, realized by the Institute of Music and Dance
                                    |Co-organized with the Composition Department of the Academy of Music in Krakow
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 05 February 2017
                                h4.subheading Szczecin Philharmonic Orchestra, Szczecin - Poland
                            .timeline-body
                                p.text-muted
                                    | L. van Beethoven Symphony No 5 in c-minor op. 67
                                    br
                                    | A. Dvořák Symphony No 9 in d-minor op. 95 „From the New World”
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 05 December 2016
                                h4.subheading 22 Festival of Eduardo Mata, Orquestra Sinfónica de Oaxaca, Mexico
                            .timeline-body
                                p.text-muted
                                    | Luis Herman Miranda - fortepian
                                    br
                                    br
                                    |H. M. Górecki Three pieces in old style
                                    br
                                    |R. Addinsell Warsaw Concerto
                                    br
                                    |W. Kilar Orava
                                    br
                                    |A. Panufnik Sinfonia Sacra
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 03 November 2016
                                h4.subheading Royal Liverpool Philharmonic Orchestra
                            .timeline-body
                                p.text-muted
                                    | Madeleine Shaw – mezzosoprano
                                    br
                                    br
                                    | H. M. Górecki Two Tristan Postude and Chorale (Uk Premiere)
                                    br
                                    | H. Berlioz Death of Cleopatra
                                    br
                                    | A. Dvořák Symphony No.7 op. 70
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 11 September 2016
                                h4.subheading International Modern Music Festival, Lviv - Ukraine
                            .timeline-body
                                p.text-muted
                                    | International Modern Music Festival
                                    br
                                    | Lviv Philharmonic Orchestra
                                    br
                                    br
                                    | M. Ravel Pavane for death Princess
                                    br
                                    | M. Karłowicz Eternal Songs
                                    br
                                    | I. Pakhota Symphony No. 2 for 6 voices and orchestra
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 22 April 2016
                                h4.subheading 28th International Festival of Krakow Composers, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | World premiers - Cracow Composer School II
                                    br
                                    br
                                    | Renata Guzik - flute
                                    br
                                    | Piotr Lato - clarinet
                                    br
                                    | Tomasz Żymła - clarinet
                                    br
                                    | Bartosz Sałdan - percussion
                                    br
                                    | Agnieszka Kaczmarek-Balic - harp
                                    br
                                    | Weronika Krówka - piano
                                    br
                                    | Agnieszka Bugla - violin
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 16 March 2016
                                h4.subheading Music Academy Symphony Orchestra, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | Katarzyna Oleś-Blacha - soprano
                                    br
                                    | Wojciech Prokopowicz - trombone
                                    br
                                    br
                                    | J. Sibelius Luonnotar Op. 70
                                    br
                                    | L.Grøndahl Trombone
                                    br
                                    | A. Dvořák Symfonia No. 7 Op. 70
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 06 March 2016
                                h4.subheading Music Academy Symphony Orchestra, Tarnów - Poland
                            .timeline-body
                                p.text-muted
                                    | Georgijs Osokins - piano
                                    br
                                    br
                                    | Mendelssohn Hebrides
                                    br
                                    | Chopin Piano Concerto No 2 in e minor
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 17/24/25 January 2016
                                h4.subheading "Unexpected Journey of Mr. Hallstand", Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | Marcin Błażewicz – music
                                    br
                                    | Małgorzata Sikorska-Miszczuk – libretto
                                    br
                                    | Anna Sokołowska i Sławomir Rokita – direction
                                    br
                                    | Hubert Kaszycki – multimedia
                                    br
                                    br
                                    | Narration – Anna Sokołowska
                                    br
                                    | Mr. Hallstand – Rafał Sadowski
                                    br
                                    | Old Newspaper – Katarzyna Zawiślak-Dolny
                                    br
                                    | Moon – Rafał Szumera
                                    br
                                    | Baloon Seller / Crazy Tram – Sławomir Rokita
                                    br
                                    | Boy – Szymon Maź
                                    br
                                    br
                                    | Chamber Cracow Philharmonic Orchestra:
                                    br
                                    | Bogusława Ziegelheim – violin
                                    br
                                    |  Katarzyna Białowieska – violin
                                    br
                                    |  Grażyna Piechowska – viola
                                    br
                                    | Agata Sanchez Martos – cello
                                    br
                                    | Konrad Maź – doublebass
                                    br
                                    | Magdalena Di Blasi – flute
                                    br
                                    | Janusz Antonik – clarinet
                                    br
                                    | Stanisław Majerski – trompet
                                    br
                                    | Andrzej Tkaczyk – trombone
                                    br
                                    | Ryszard Haba – percussion
                                    br
                                    | Monika Bylica – piano
                                    br
                                    | Patrycja Pieczara – music direction
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 01 January 2016
                                h4.subheading Orchestra Classica do Sul in Faro, Faro - Portugal
                            .timeline-body
                                p.text-muted
                                    | The New Year Gala Concerts
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 12 December 2015
                                h4.subheading Krakow Philharmonic, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | Rafał Kwiatkowki – cello
                                    br
                                    |  Saint-Seans Cello concerto No 1
                                    br
                                    | E. Elgar Enigma Variation
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 16 October 2015
                                h4.subheading Rzeszow - Poland
                            .timeline-body
                                p.text-muted
                                    | Paweł Motyczyński - fortepian
                                    br
                                    br
                                    | R. Schumann Genoveva Ouverture
                                    br
                                    |F. Chopin Piano concerto no 1 in e-minor
                                    br
                                    |X. Scharwenka Symphony c-minor Op. 60
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 17 September 2015
                                h4.subheading Tokyo Symphony Orchestra, Muza Kawasaki Symphony Hall, Tokyo - Japan
                            .timeline-body
                                p.text-muted
                                    | Alina Ibrahgimova - skrzypce
                                    br
                                    br
                                    | F. Mendelssohn Hebrydy op.26
                                    br
                                    | W.A. Mozart Violin Concerto no 3 in G major K.216
                                    br
                                    | L.v. Beethoven Symphony No 7 in A-dur op. 92
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 27 August 2015
                                h4.subheading European Center of Krzysztof Penderecki Music, Lusławice - Poland
                            .timeline-body
                                p.text-muted
                                    | 3.International Festival Emanacje
                                    br
                                    | Beethoven Academy Orchestra
                                    br
                                    br
                                    | Piotr Kosiński - piano7
                                    br
                                    | Z. Noskowski Morskie Oko Op.19
                                    br
                                    | X. Scharwenka Piano concerto No 2 in c minor op.56
                                    br
                                    | J. Brahms Symphony No 2 in D major op. 73
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 18 May 2015
                                h4.subheading Szczecin Philharmonic Orchestra, Szczecin - Poland
                            .timeline-body
                                p.text-muted
                                    | Education concerts
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 08 March 2015
                                h4.subheading Bilkent Symphony Orchestra, Ankara - Turcja
                            .timeline-body
                                p.text-muted
                                    | Marta Klimasara - marimba
                                    br
                                    |Tolga Salman - bajan
                                    br
                                    br
                                    | M.Błażewicz Koncert na marimbe
                                    br
                                    | Z. Gedizliogu Kayip Sessizligin Anisina R Ragmen
                                    br
                                    | A. Piazzola Siete piezas en Estilo de Tango Nuevo
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 27 February 2015
                                h4.subheading Music Academy Symphony Orchestra, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | Assisting to sir Neveille Marriner at the Music Academy in Krakow
                                    br
                                    br
                                    | M. Tippett Concerto for double string orchestra
                                    br
                                    | H. Berlioz Symphony no 1 in C major
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 23 February 2015
                                h4.subheading Szczecin Philharmonic Orchestra, Szczecin - Poland
                            .timeline-body
                                p.text-muted
                                    | Education concerts
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 October 2014
                                h4.subheading Grand Theatre in Poznan, Poznan - Poland
                            .timeline-body
                                p.text-muted
                                    | Patrycja Pieczara - music director
                                    br
                                    | Ran Arthur Braun - stage director /choreography
                                    br
                                    | Justin C. Ariety - stage design
                                    br
                                    | Mariusz Otto - choir direction
                                    br
                                    br
                                    | M.Ravel L'enfant et les sortileges /premiere
                                    br
                                    | I. Stravinski Le Rossignol /premiere
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 May 2014
                                h4.subheading Grand Theatre in Poznan, Poznan - Poland
                            .timeline-body
                                p.text-muted
                                    | G.Bizet - Carmen
                                    br
                                    br
                                    | Daniel Krief - stage direction
                                    br
                                    | Paul Julius - choerography
                                    br
                                    |  Mariusz Otto - choir direciton
                                    br
                                    | Patrycja Pieczara - music director
                                    br
                                    br
                                    | CAST:
                                    br
                                    | Carmen - Helena Zubanovich /Małgorzata Pańko
                                    br
                                    | Don José - Piotr Friebe, Lee Sang Jun
                                    br
                                    | Escamillo - Jaromir Trafankowski / Mariusz Godlewski
                                    br
                                    | Micaëla - Roma Jakubowska-Handke/ Monika Mych-Nowicka
                                    br
                                    | Frasquita Barbara Gutaj Monowid / Małgorzata Olejniczak-Wyrobiej / Natalia Puczniewska-Braun
                                    br
                                    | Mercédes - Magdalena Wilczyńska-Goś
                                    br
                                    | Remendado - Karol Bochański / Marek Szymański
                                    br
                                    | Morales - Tomasz Mazur / Andrzej Ogórkiewicz
                                    br
                                    | Dancaire - Tomasz Mazur/Jaromir Trafankowski
                                    br
                                    | Zuniga- Rafał Korpik
                                    br
                                    br
                                    | Orchestra, choir and ballet of Grand Theatre In Poznań
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 4 April 2014
                                h4.subheading Częstochowa Philharmonic Orchestra, Częstochowa - Poland
                            .timeline-body
                                p.text-muted
                                    | Jakub Lichtenstein - piano
                                    br
                                    br
                                    | F. Mendelssohn-Bartholdy Midsummer night’s dream
                                    br
                                    | S. Prokofiew Piano concerto No .3 in C major op. 26
                                    br
                                    | J. Brahms Symphony No 2 in D major op. 73
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 6 March 2014
                                h4.subheading Cracow Philharmonic Orchestra, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | Marek Szlezer - piano
                                    br
                                    br
                                    | G. Gershwin Cuban Ouverture
                                    br
                                    | M.Ravel Piano concerto in G major
                                    br
                                    | G. Gershwin American in Paris
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 02 February 2014
                                h4.subheading International Days of Modern Music Kharkiv, Kharkiv - Ukraine
                            .timeline-body
                                p.text-muted
                                    | Opening World Premiere Concert,
                                    br
                                    | Orchestra of National Conservatoire in Kharkiv
                                    br
                                    br
                                    | Elena Shevchenko Piano concerto
                                    br
                                    | Ivan Pakhota Symphony No. 2
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 21 January 2014
                                h4.subheading L’Orchestre Atelier Ostinato in Paris, Paris - France
                            .timeline-body
                                p.text-muted
                                    | Pierre Genisson - clarinet
                                    br
                                    | W.Z Zych Solilokwium
                                    br
                                    | C. Nielsen Clarinet concerto
                                    br
                                    | L. van Beethoven Symphony No 5
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 9-14 December 2013
                                h4.subheading Chamber Orchestra of the Cracow Philharmonic, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | Pizzicato family operetta (World Premiere) for voices, children choir, orchestra and electronics. Chamber Orchestra of the Cracow Philharmonic
                                    br
                                    | Mateusz Bień - music, directing the electronic layer
                                    br
                                    | Mateusz Bień, Antoni Gazda - libretto
                                    br
                                    | Anna Sokołowska - director, costumes, stage design
                                    br
                                    | Patrycja Pieczara - music direction
                                    br
                                    br
                                    | CAST:
                                    br
                                    | Cellist - Jakub Gucik (cello)
                                    br
                                    | Kura - Katarzyna Oleś-Blacha (soprano)
                                    br
                                    | Ms. Jola (speech therapist) - Monika Korybalska (mezzo soprano)
                                    br
                                    | Admin of the Divine - Krzysztof Dekanski (baritone)
                                    br
                                    | Pitekantrop - Slawomir Rokita
                                    br
                                    br
                                    | Boys' Choir of the Cracow Philharmonic - Preparation - Lidia Matynian
                                    br
                                    br
                                    | RELEVE ballet team at MDK im. K.I.Gałczyński in Cracow
                                    br
                                    | Artistic care - Magdalena Żmuda
                                    br
                                    | Monika Bylica - piano
                                    br
                                    |Renata Żołobowska-Orzechowska - electronic keyboard instruments
                                    br
                                    br
                                    | Cracow Chamber Philharmonic Orchestra
                                    br
                                    | Anna Hara-Pen - violin
                                    br
                                    |Boguslaw Ziegelheim - violin
                                    br
                                    |Grazyna Piechowska - viola
                                    br
                                    | Konrad Maź - double bass
                                    br
                                    | Magdalena Di Blasi - flute
                                    br
                                    | Mariusz Pędziałek - oboe
                                    br
                                    | Michał Poniżnik - clarinet
                                    br
                                    | Wojciech Turek - bassoon
                                    br
                                    | Stanislaw Majerski - trumpet
                                    br
                                    | Marek Pawlik - trombone
                                    br
                                    | Adam Kozłowski - French horn
                                    br
                                    | Ryszard Haba - boilers, percussion instruments
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 10 July 2013
                                h4.subheading XVI Summer Music Festival Carpatian Philharmonic Orchestra, Rzeszów - Poland
                            .timeline-body
                                p.text-muted
                                    | Mielec - Church of the Holy Mother of Our Lady,
                                    br
                                    | Podkarpacie Philharmonic Orchestra
                                    br
                                    | Rzeszów Percussion Group
                                    br
                                    br
                                    | L. van Beethoven Coriolan
                                    br
                                    | J. S. Bach Concerto for two pianos in C minor BWV 1062 (arrangement for percussion)
                                    br
                                    | M. Ravel Bolero
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 15 June 2013
                                h4.subheading World Premiere of Il Secondo Gravità by Hadi Ayanbod (Iran), Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | Cracow Music Academy Contemporary Ensemble AM in Krakow
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 07 June 2013
                                h4.subheading Carpatian Philharmonic Rzeszow Percussion Group, Rzeszów - Poland
                            .timeline-body
                                p.text-muted
                                    | J. S. Bach Concerto in C minor BWV 1062 for percussion quintet, 2 vibraphones, 2 marimba, marimba bass)
                                    br
                                    | G. F. Handel Music of fireworks
                                    br
                                    | W. A. Mozart Symphony in C major "Linz" KV 425
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 11 January 2013
                                h4.subheading Cracow Philharmonic Orchestra, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | Joanna Trafas – soprano
                                    br
                                    | M.Karłowicz Episode on masquerade op.14
                                    br
                                    | J. Strauss Couplets of Adel from the operetta Revenge of the Bat
                                    br
                                    | A. Dvořak Concert Overture Carnival op.92
                                    br
                                    | Johann Strauss The sounds of spring for soprano and orchestra Op. 410
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 11 November 2012
                                h4.subheading International festival of contemporary music “aXes”, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | world premiers of music by young composers Glyptos Ensemble, Amadrums Ensemble
                                    br
                                    | S. Pensek / B. Kezskès / A. Weber
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 21 October 2012
                                h4.subheading Warmia and Mazury Philharmonic Orchestra, Olsztyn - Poland
                            .timeline-body
                                p.text-muted
                                    | Artur Milian - violin
                                    br
                                    | A.Vivaldi / E.Elgar / E.Grieg
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 11 October 2012
                                h4.subheading Polish Art Philharmonic, Myślenice - Poland
                            .timeline-body
                                p.text-muted
                                    | Piotr Machnik - piano
                                    br
                                    | F. Chopin / F. Schubert / F. Mendelssohn
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 07 August 2012
                                h4.subheading International Järvi MasterClass in Parnu (Estonia), Pärnu - Estonia
                            .timeline-body
                                p.text-muted
                                    | Järvi Summer Festival in Pärnu, Estonian Youth Symphony Orchestra Final Concert
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 22 June 2012
                                h4.subheading Podlasie National Opera and Philharmonic in Białystok, Białystok - Poland
                            .timeline-body
                                p.text-muted
                                    | Closing concert of the 57th season
                                    br
                                    | W.A.Mozart, F. Francaix, A. Dvorak
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 10 May 2012
                                h4.subheading Slovak State Philharmonic 57th Spring Festival „Hudobny Jar” Kosice, Slovakia
                            .timeline-body
                                p.text-muted
                                    | Pavel Sporcl - violin
                                    br
                                    | E. W. Korngold, A. Borodin, O. Respighi
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 23 December 2011
                                h4.subheading Istanbul State Symphony Orchestra, Istambul - Turkey
                            .timeline-body
                                p.text-muted
                                    | Nil Kocamagil – cello
                                    br
                                    | A. Dvorak, F. Mendelssohn
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 6/7/11 December 2011
                                h4.subheading "Unexpected Journey of Mr. Hallstand", Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | Musical for actors, singer and chamber orchestra
                                    br
                                    br
                                    | Marcin Błażewicz –music
                                    br
                                    | Małgorzata Sikorska-Miszczuk – libretto
                                    br
                                    | Anna Sokołowska i Sławomir Rokita – direction
                                    br
                                    | Hubert Kaszycki – multimedia
                                    br
                                    br
                                    | Narration – Anna Sokołowska
                                    br
                                    | Mr. Hallstand – Rafał Sadowski
                                    br
                                    | Old Newspaper – Katarzyna Zawiślak-Dolny
                                    br
                                    | Moon – Rafał Szumera
                                    br
                                    | Baloon Seller / Crazy Tram – Sławomir Rokita
                                    br
                                    | Boy – Szymon Maź
                                    br
                                    br
                                    | Chamber Cracow Philharmonic Orchestra :
                                    br
                                    | Bogusława Ziegelheim – violin
                                    br
                                    | Katarzyna Białowieska – violin
                                    br
                                    | Grażyna Piechowska – viola
                                    br
                                    | Agata Sanchez Martos – cello
                                    br
                                    | Konrad Maź – doublebass
                                    br
                                    | Magdalena Di Blasi – flute
                                    br
                                    | Janusz Antonik – clarinet
                                    br
                                    | Stanisław Majerski – trompet
                                    br
                                    | Andrzej Tkaczyk – trombone
                                    br
                                    | Ryszard Haba – percussion
                                    br
                                    | Monika Bylica – piano
                                    br
                                    | Patrycja Pieczara – music direction
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 15-22 November 2011
                                h4.subheading Germany German tour with Cracow Youth Philharmonic - Germany
                            .timeline-body
                                p.text-muted
                                    |  Common workshop with German youth Orchestra of Friedrich-von-Bodelschwingh Schulen Bethel (Bielefeld)
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 24 June 2011
                                h4.subheading Cracow Philharmonic Orchestra, Diploma concert, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | Przemysław Winnicki – pianist
                                    br
                                    | S. Rachmaninov, A. Dvorak
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 7 May 2011
                                h4.subheading Music Academy Symphony Orchestra, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | I. Stravinsky Firebird
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 3-4 March 2011
                                h4.subheading Cracow Philharmonic Orchestra, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | Ryszard Haba –percussion
                                    br
                                    | J.Schwantner Percussion concerto
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 5 January 2011
                                h4.subheading Polish National Radio Symphony Orchestra, Katowice - Poland
                            .timeline-body
                                p.text-muted
                                    | B. Bartok / P. Tchaikovsky / P. Dukas
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 March - June 2010
                                h4.subheading Cracow Opera House, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | Laco Adamik - stage direction
                                    br
                                    | Tomasz Tokarczyk - music director
                                    br
                                    | Patrycja Pieczara -assistant
                                    br
                                    br
                                    | J. Strauss Baron Tzigane
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 March - May 2010
                                h4.subheading Cracow Opera House, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | Laco Adamik - stage direction
                                    br
                                    | Tadeusz Kozłowski - music director
                                    br
                                    | Patrycja Pieczara -assistant
                                    br
                                    br
                                    | G. Bizet Carmen
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 2 December 2009
                                h4.subheading Copernicus Festival, London - UK
                            .timeline-body
                                p.text-muted
                                    | Final concert of the International Conducting Masterclass, as part of Orchestra Of the RAM, RCM, TCM, London
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 11 May 2009
                                h4.subheading Music Academy Symphony Orchestra,Bachelor diploma concert, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | J. Płonka Travelling is dangerous
                                    br
                                    | W.A.Mozart Symphony in D No.38 K 504 Prague
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 24 April 2009
                                h4.subheading Odyssey Chamber Orchestra, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | Concert of premiers
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 15 November 2008
                                h4.subheading Music Academy Symphony Orchestra / Symphony Orchestra of The RAM in London, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | Final concert of the International Master Class lead by prof. Colin Metters, prof Howard Williams, Academic Orchestras from Krakow and London
                                    br
                                    | L. van Beethoven Symphony No 3 Eroica
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 27 April 2008
                                h4.subheading Chamber Orchestra Academy of Music in Krakow, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | Anna Hamayon - cello
                    li
                        .timeline-panel
                            .timeline-heading
                                h6 March 2008
                                h4.subheading World Premiere of Dispersion by Paulina Zaubska, Music Academy Modern Ensemble “Odyssey”, Cracow - Poland
                    li.timeline-inverted
                        .timeline-panel
                            .timeline-heading
                                h6 November 2007
                                h4.subheading Final Concert of the International Bach Academy led by Prof. Helmuth Rilling, Cracow - Poland
                            .timeline-body
                                p.text-muted
                                    | Handel Messiah

        // Contact
        section#contact.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Contact Me

                // * * * * * * * * * * * * * * *
                // * * SB Forms Contact Form * *
                // * * * * * * * * * * * * * * *

                // This form is pre-integrated with SB Forms.
                // To make this form functional, sign up at
                // https://startbootstrap.com/solution/contact-forms
                // to get an API token!

                form#contactForm(data-sb-form-api-token='API_TOKEN')
                    .row.align-items-stretch.mb-5
                        .col-md-6
                            .form-group

                                // Name input
                                input#name.form-control(
                                    type='text',
                                    placeholder='Your Name *',
                                    color=white,
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='name:required')
                                    | A name is required.

                            .form-group

                                // Email address input
                                input#email.form-control(
                                    type='email',
                                    placeholder='Your Email *',
                                    data-sb-validations='required,email'
                                )
                                .invalid-feedback(data-sb-feedback='email:required')
                                    | An email is required.
                                .invalid-feedback(data-sb-feedback='email:email')
                                    | Email is not valid.

                            .form-group.mb-md-0

                                // Phone number input
                                input#phone.form-control(
                                    type='tel',
                                    placeholder='Your Phone *',
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='phone:required')
                                    | A phone number is required.

                        .col-md-6
                            .form-group.form-group-textarea.mb-md-0

                                // Message input
                                textarea#message.form-control(
                                    placeholder='Your Message *',
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='message:required')
                                    | A message is required.

                    // Submit success message
                    //
                    // This is what your users will see when the form
                    // has successfully submitted

                    #submitSuccessMessage.d-none
                        .text-center.text-white.mb-3
                            .fw-bolder Form submission successful!
                            | To activate this form, sign up at
                            br
                            a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

                    // Submit error message
                    //
                    // This is what your users will see when there is
                    // an error submitting the form

                    #submitErrorMessage.d-none
                        .text-center.text-danger.mb-3 Error sending message!

                    // Submit Button
                    .text-center
                        button#submitButton.btn.btn-primary.btn-m.text-uppercase.disabled(type='submit') Send Message

        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-md-offset-3
                        a.btn.btn-dark.btn-social.mx-2(href='#!')
                            i.fab.fa-twitter
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.facebook.com/ppieczara')
                            i.fab.fa-facebook-f
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/patrycja_pieczara')
                            i.fab.fa-instagram
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.youtube.com/user/ppieczara')
                            i.fab.fa-youtube

        // Portfolio Modals
        include includes/portfolio-modal-1
        include includes/portfolio-modal-2
        include includes/portfolio-modal-3
        include includes/portfolio-modal-4
        include includes/portfolio-modal-5
        include includes/portfolio-modal-6

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
